.DevImage{
    /*float: left;*/
    border-radius: 50%;
    /*margin-top:1% ;*/
    /*margin-left: 12%;*/
    margin-bottom:10vh;
    object-fit: cover;
    align-items: center;
    align-content: center;
;
}
.DevInfo{
    /*float: right;*/
    align-items: center;
    align-content: center;
    margin-top: 32vh;
    margin-bottom: 2vh;
    /*margin-right: 15% ;*/
}
/*.DevInfo{*/
/*    border: 3px solid gray ;*/
/*    background-color: coral;*/
/*}*/
.DevCard{
    align-items: center;
    align-content: center;
}
.icon{
    padding: 8%;
}
