
.FLProjectCard{
    padding: 4%;
}
.FLProjectCardHeaderText{
    /*float: right;*/
    margin-right: 13%;
    /*margin-top: 3%;*/
}
ul{
    margin-top: 100%;
    list-style-type: circle ;
}
.fuller{
    width: 100%;
}

